In [4]:
import warnings
warnings.filterwarnings("ignore")
#importing the packages needed
import pandas as pd
import numpy as np
import re
import nltk

###Data preparation & preprocessing

In [9]:
#Reading the datasets created 
df=pd.read_csv("/content/Jeddah Dataset.csv")
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
data=df.dropna(axis = 0, how ='any')

In [10]:
data.describe()

              id
count  47.000000
mean   24.000000
std    13.711309
min     1.000000
25%    12.500000
50%    24.000000
75%    35.500000
max    47.000000

In [11]:
data.head()

,id,place_name,overview,price,activity_type
0,1.0,Cool de Sac,A two-story restaurant equipped with kid perks...,40 SR,entertainment
1,2.0,Jeddah's Museum,Another great way to observe the beauty of the...,50 SR,culture
2,3.0,Tayebat Museum,"Located in the Al Faisaliyah district, Tayebat...",50 SR,culture
3,4.0,Jeddah Open Museum,"the first open museum in the city, and one of ...",50 SR,culture
4,5.0,Museum of Home Art,"Museum of Home Art was once a 5,000 square met...",60 SR,culture

In [12]:
data.tail()

,id,place_name,overview,price,activity_type
42,43.0,Rikaz Farm,"Visit a stable and learn more about horses, en...",200 SR,sport
43,44.0,AlMustabaggani Stable,"Visit a stable and learn more about horses, en...",200 SR,sport
44,45.0,City Horse Stable,"Visit a stable and learn more about horses, en...",300 SR,sport
45,46.0,AlJazeera HorsemanshipClub,"Visit a stable and learn more about horses, en...",300 SR,sport
46,47.0,Aseel Horsemanship Centre,"Visit a stable and learn more about horses, en...",300 SR,sport

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47 entries, 0 to 46
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             47 non-null     float64
 1   place_name     47 non-null     object
 2   overview       47 non-null     object
 3   price          47 non-null     object
 4   activity_type  47 non-null     object
dtypes: float64(1), object(4)
memory usage: 2.2+ KB

###Applying Cosine similarity

In [15]:
#import modules
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
features=['place_name','overview','price','activity_type']
for f in features:
  data[f]=data[f].fillna('')

cv = CountVectorizer() #creating new CountVectorizer() object
count_matrix=cv.fit_transform(data)
cosine_sim = cosine_similarity(count_matrix) #calculating cosine similarity

In [63]:
data.head()
features2=['place_name','activity_type']

for f in features2:
  data[f]=data[f].fillna('')

In [64]:
#function to search user input on the newly created column and return the index
import re
def get_index_from_title(place_name):
    for ind in data.index:
        mond=data.iloc[ind]['place_name']
        if re.search(place_name,mond):
            return(ind)

In [65]:
#finding similar places using cosine similarity
place_selec = "Jeddah"
place_index = get_index_from_title(place_selec)
#print(place_index)
#accessing the row corresponding to given place name to find all the similarity scores for that place name and then enumerating over it
similar_places = list(enumerate(cosine_sim[place_index]))

In [66]:
#sorting those packages in descending order 
sorted_similar_places = sorted(similar_places,key=lambda x:x[1],reverse=True)[1:]
#print(sorted_similar_places)

In [71]:
#printing the top 5 recommendations
i=0
print("The 3 plans output "+place_selec+" are:\n")
for element in sorted_similar_places:
    print("Package name: {}".format(data.loc[data['index'] == element[0], 'place_name'].values[0]))
    print("Place: {}".format(data.loc[data['index'] == element[0], 'overview'].values[0]))
    print("Price: SR {} .".format(data.loc[data['index'] == element[0], 'price'].values[0]))
    
    i=i+1
    if i>5:
        break

The 3 plans output Jeddah are:

KeyError: ignored